.project{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding: 140px 0px;
    animation: mywork 2s;
    width: 80%;
    margin: auto;
}
.project-head{
    text-align: center;
}
.project-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

}
.project-detail{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 25px;
    padding: 30px 25px;
    border-radius: 15px;
    box-shadow: 0px 0px 11px #00000015;
    transition: all 0.5s ;
}
.project-detail p{
    font-size: 18px;
    line-height: 30px;
}
.project-detail h2{
    text-align: center;
}

.btn-source{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.btn-source button{
    background-color: white;
    color: #676767;
    padding: 10px 18px;
    font-size: 15px;
    border-radius: 8px;
}
.btn-source button:hover{
    background-color: black;
    color: white;
}

@media only screen and (min-width:768px) and (max-width: 1024px){
    .project-list{
        grid-template-columns: repeat(1,1fr);
    }
}
@media only screen and (max-width:431px){
    .project-list{
        grid-template-columns: repeat(1,1fr);
    }
    .project{
        padding: 70px 0px;
    }

}