.about{
    display: flex;
    flex-direction: column;
    gap: 60px;
   padding: 140px 0px;
   animation: mywork 2s;
}
.about-detail{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}
.about-detail-container{
   padding: 1.3rem;
   flex: 1;
   background-color: white;
   border-radius: 2rem;
   border: 0.1rem solid rgb(53, 53, 53);
   border-color: rgb(163, 163, 163);
   text-align: center;
   display: flex;
   flex-direction: column;
   gap: 4px;
   align-items: center;
}
.about-detail-container img{
    width: 26px;
}
.about-experience{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.about-text{
    text-align: center;
    align-self: center;
}
.about-title{
    text-align: center;
    font-size: 2.3rem;
}
.about-education{
    display: flex;
    gap: 2rem;
    /* margin-top: 2rem;
    margin-bottom: 2rem; */
    align-items: center;
}
.about-img{
    width: 100%;
}
.about-img img{
    width: 400px;
    height: 320px;
    border-radius: 2rem;
}
.about-para > p{
    line-height: 25px;
}