@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Outfit;
    scroll-behavior: smooth;
}
body{
    height: 100vh;
    background-color: white;
    color: rgb(85, 85, 85);
}

a{
    text-decoration: none;
    color: rgb(85, 85, 85);
}
a, button{
    transition: all 0.3s ease;
}
.navbar-menu a:hover{
    text-decoration: underline;
    color: grey;
    text-underline-offset: .6rem;
    text-decoration-color: rgb(181, 181, 181);
}
@keyframes mywork {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}